/* css/screens/finance-screen.css */
.finance-log-panel {
    height: 50vh; /* Enforce a fixed height based on the viewport */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
    touch-action: pan-y; /* Allow vertical scrolling */
}
.finance-log-panel::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


@media (max-width: 768px) {
    #finance-screen .grid-cols-4 {
        grid-template-columns: 0.5fr 2fr 1fr;
        font-size: 0.8rem;
    }
    #finance-screen .grid-cols-4 > span:nth-child(2) {
        grid-column: span 1;
    }
}