/* css/screens/market-screen.css */
:root {
    /* Card Appearance */
    --market-card-height: 128px;
    --market-card-border-radius: 8px;
    --market-card-gradient-angle: 45deg;
    
    /* Positioning */
    --market-card-info-top: 12px;
    --market-card-info-left: 16px;
    --market-card-module-top: 10px;
    --market-card-module-right: 12px;
    --market-card-pinv-top: 34px;
    --market-card-pinv-left: 74px;
    --market-card-avail-top: 34px;
    --market-card-avail-left: 21px;
    --market-card-price-top: 52px;
    --market-card-price-left: 16px;
    
    /* Spacing */
    --market-card-price-indicator-v-gap: 7px;

    /* Name Text */
    --market-card-name-font-size: 1.1rem;
    --market-card-name-color: #ffffff;
    --market-card-name-text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -0.5px 0px 3px #000000;

    /* Player Inventory Text */
    --market-card-pinv-font-size: 0.65rem;
    --market-card-pinv-color: #e8e8e8;
    --market-card-pinv-text-shadow: -0.4px -0.4px 0 #000000, 0.4px -0.4px 0 #000000, -0.4px 0.4px 0 #000000, 0.4px 0.4px 0 #000000, 0px 1.5px 2.5px #616b70;
    
    /* Avail Text */
    --market-card-avail-font-size: 0.65rem;
    --market-card-avail-color: #ffffff;
    --market-card-avail-text-shadow: -0.7px -0.7px 0 #292929, 0.7px -0.7px 0 #292929, -0.7px 0.7px 0 #292929, 0.7px 0.7px 0 #292929, -0.5px 1.5px 2px #554a4a;

    /* Price Text */
    --market-card-price-font-size: 1.5rem;
    --market-card-price-color: #2fe1f9;
    --market-card-price-font-family: 'Roboto Mono', monospace;
    --market-card-price-text-shadow: 0 0 1px #2fe1f9, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 0px 0px 20px #28d5d7;

    /* Module */
    --market-card-module-width: 123px;
    --market-card-module-v-gap: 6.3px;
    --market-card-module-toggle-height: 20px;
    --market-card-module-stepper-height: 40px;
    --market-card-module-button-height: 35px;
    --market-card-module-stepper-arrow-size: 1.4em;
    --font-size: 0.75rem; /* Overriding global for module */
    --buy-primary: #196a8f;
    --sell-primary: #a73535;

    /* Indicators */
    --market-card-indicator-top: 81px;
    --market-card-indicator-left: 16px;
    --market-card-indicator-h-spacing: 4px;
    --market-card-indicator-v-spacing: 3px;
    --market-card-indicator-font-size: 0.55em;
    --market-card-indicator-padding: 0.1em 0.5em;
    --market-card-indicator-positive-bg: rgb(16, 185, 129);
    --market-card-indicator-negative-bg: rgb(220, 38, 38);
    --market-card-indicator-neutral-bg: rgb(115, 115, 115);
    --market-card-indicator-positive-color: #ffffff;
    --market-card-indicator-negative-color: #fee2e2;
    --market-card-indicator-neutral-color: #e5e5e5;
}

.item-card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* This is the main card element */
.item-card-container > div {
    position: relative;
    height: var(--market-card-height);
    border-radius: var(--market-card-border-radius);
    padding: 0;
}

.commodity-name {
    position: absolute;
    top: var(--market-card-info-top);
    left: var(--market-card-info-left);
    font-family: 'Roboto Mono', monospace;
    font-size: var(--market-card-name-font-size);
    color: var(--market-card-name-color);
    text-shadow: var(--market-card-name-text-shadow);
}

.price-text {
    position: absolute;
    top: var(--market-card-price-top);
    left: var(--market-card-price-left);
    font-size: var(--market-card-price-font-size);
    color: var(--market-card-price-color);
    text-shadow: var(--market-card-price-text-shadow);
    font-family: var(--market-card-price-font-family);
}

.avail-text {
    position: absolute;
    top: var(--market-card-avail-top);
    left: var(--market-card-avail-left);
    font-size: var(--market-card-avail-font-size);
    color: var(--market-card-avail-color);
    text-shadow: var(--market-card-avail-text-shadow);
}

/* --- [[START]] INDICATOR STYLES --- */
.indicator-container {
    position: absolute;
    top: var(--market-card-indicator-top);
    left: var(--market-card-indicator-left);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--market-card-indicator-h-spacing);
    margin-top: var(--market-card-price-indicator-v-gap);
}

.indicator-pill {
    padding: var(--market-card-indicator-padding);
    border-radius: 99px;
    font-size: var(--market-card-indicator-font-size);
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: var(--market-card-indicator-h-spacing);
    text-shadow: none;
}

.indicator-pill.positive {
    background-color: var(--market-card-indicator-positive-bg);
    color: var(--market-card-indicator-positive-color);
}
.indicator-pill.negative {
    background-color: var(--market-card-indicator-negative-bg);
    color: var(--market-card-indicator-negative-color);
}
.indicator-pill.neutral {
    background-color: var(--market-card-indicator-neutral-bg);
    color: var(--market-card-indicator-neutral-color);
}
/* --- [[END]] INDICATOR STYLES --- */


/* --- [[START]] COMMODITY CARD STYLES --- */
.item-style-1 {
    border-color: #60a5fa;
    --market-card-gradient-color1: #93c5fd;
    --market-card-gradient-color2: #2563eb;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #eff6ff;
}
.item-style-2 {
    border-color: #a3a3a3;
    --market-card-gradient-color1: #d4d4d4;
    --market-card-gradient-color2: #525252;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #fafafa;
}
.item-style-3 {
    border-color: #166534;
    --market-card-gradient-color1: #22c55e;
    --market-card-gradient-color2: #15803d;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #dcfce7;
}
.item-style-4 {
    border-color: #e5e5e5;
    --market-card-gradient-color1: #f3f4f6;
    --market-card-gradient-color2: #cccccc;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #ffffff;
}
.item-style-5 {
    border-color: #c084fc;
    --market-card-gradient-color1: #e9d5ff;
    --market-card-gradient-color2: #a855f7;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #faf5ff;
}
.item-style-6 {
    border-color: #93c5fd;
    --market-card-gradient-color1: #bfdbfe;
    --market-card-gradient-color2: #3b82f6;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #eff6ff;
}
.item-style-7 {
    border-color: #84cc16;
    --market-card-gradient-color1: #a7f3d0;
    --market-card-gradient-color2: #4d7c0f;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #f0fdf4;
}
.item-style-8 {
    border-color: #a5f3fc;
    --market-card-gradient-color1: #e0f2fe;
    --market-card-gradient-color2: #22d3ee;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #f0f9ff;
}
.item-style-9 {
    border-color: #fcd34d;
    --market-card-gradient-color1: #fcd34d;
    --market-card-gradient-color2: #d2b48c;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #fffbeb;
}
.item-style-10 {
    border-color: #fda4af;
    --market-card-gradient-color1: #fecaca;
    --market-card-gradient-color2: #b91c1c;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1), var(--market-card-gradient-color2));
    color: #fef2f2;
}
.item-style-11 {
    border-color: #c4b5fd;
    --market-card-gradient-color1: #a78bfa;
    --market-card-gradient-color2: #312e81;
    background: linear-gradient(165deg, var(--market-card-gradient-color1), var(--market-card-gradient-color2), #1e3a8a);
    color: #f5f3ff;
}
.item-style-12 {
    border-color: #fca5a5;
    --market-card-gradient-color1: #1f2937;
    --market-card-gradient-color2: #b91c1c;
    background: linear-gradient(var(--market-card-gradient-angle), var(--market-card-gradient-color1) 40%, #7f1d1d, var(--market-card-gradient-color2));
    color: #fee2e2;
}
.item-style-13 {
    border-color: #a78bfa;
    background-color: #000;
    animation: dark-shift 5s ease infinite;
    color: #fde047;
}
.item-style-14 {
    border-color: #f9a8d4;
    background-color: #fca5a5;
    animation: warm-shift 4s ease infinite;
    color: #fff;
}
/* --- [[END]] COMMODITY CARD STYLES --- */

/* --- [[START]] SOLID STATE TRANSACTION BUTTONS --- */
.transaction-controls {
    position: absolute;
    top: var(--market-card-module-top);
    right: var(--market-card-module-right);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--market-card-module-v-gap);
    width: var(--market-card-module-width);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
.toggle-switch {
    width: 100%;
    height: var(--market-card-module-toggle-height);
    border-radius: 99px;
    display: flex;
    align-items: center;
    padding: 3px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.toggle-thumb {
    width: 50%;
    height: 100%;
    border-radius: 99px;
    position: absolute;
    left: 3px;
    transition: all 0.3s ease-in-out;
}
.toggle-labels {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 0.8em;
}
.toggle-labels span {
    transition: color 0.3s ease-in-out;
}
.qty-stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--market-card-module-stepper-height);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
}
.qty-stepper input {
    width: 30%;
    background: none;
    border: none;
    text-align: center;
    color: inherit;
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
    -moz-appearance: textfield;
}
.qty-stepper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty-stepper button {
    background: none;
    border: none;
    font-size: var(--market-card-module-stepper-arrow-size);
    cursor: pointer;
    transition: color 0.2s;
    line-height: 1;
}
.action-group {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.action-group .btn {
    flex: 1;
    height: var(--market-card-module-button-height);
    border: none;
    border-radius: 99px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-size: 0.8em;
    padding: 0 0.5rem;
}
.action-group .confirm-btn {
    flex-grow: 1;
}
.action-group .max-btn {
    flex: 1;
}
.action-group .btn:active {
    transform: scale(0.95);
}

/* Dynamic Theming */
.transaction-controls[data-mode="buy"] {
    --active-primary: var(--buy-primary);
    --active-secondary-bg: var(--buy-secondary-bg);
    --active-secondary-border: var(--buy-secondary-border);
    --active-text-light: var(--buy-text-light);
    --active-text-dark: var(--buy-text-dark);
}
.transaction-controls[data-mode="sell"] {
    --active-primary: var(--sell-primary);
    --active-secondary-bg: var(--sell-secondary-bg);
    --active-secondary-border: var(--sell-secondary-border);
    --active-text-light: var(--sell-text-light);
    --active-text-dark: var(--sell-text-dark);
}
.toggle-switch {
    background: var(--active-secondary-bg);
    border: 1px solid var(--active-secondary-border);
}
.toggle-thumb {
    background: var(--active-primary);
}
.toggle-labels span {
    color: var(--active-text-light);
}
.transaction-controls[data-mode="buy"] .label-buy, .transaction-controls[data-mode="sell"] .label-sell {
    color: var(--active-text-dark);
}
.qty-stepper {
    background: var(--active-secondary-bg);
    border: 1px solid var(--active-secondary-border);
    color: var(--active-text-light);
}
.qty-stepper button {
    color: var(--active-text-light);
}
.confirm-btn {
    background: var(--active-primary);
    color: var(--active-text-dark);
}
.max-btn {
    background: var(--max-bg);
    color: var(--max-text);
}
.transaction-controls[data-mode="sell"] .toggle-thumb {
    left: calc(50% - 3px);
}
/* --- [[END]] SOLID STATE TRANSACTION BUTTONS --- */